{% extends 'base.html.twig' %}

{% block body %}

{% include 'site/slider.html.twig' %}

    <h1 class="ggtitre">Bienvenue sur neptune</h1>
    <hr class="std">
    <div class="row">
        <div class="col col-md-6 col-sm-12">
            <p class="pp">Neptune est un site communautaire ou sont partagés des articles et des débats, vous pouvez consulter voir partager et écrire des sujets. Les sujets sont nombreux et variés : l'histoire, la géopolitique, l'espace, le sport et bien d'autres peuvent être publiés, la seule chose qui vous ai demandé est simple : suivre les règles. <a href="{{ path('reglement') }}">Aller ici</a></p>
        </div>
        <div class="col col-md-6 col-sm-12">
            <img class="image" src="/image/saturne1.jpeg" alt="">
        </div>
    </div>
    <hr class="std">
    <div class="row">
        <div class="col col-md-6 col-sm-12">
            <img class="image" src="/image/pluton1.jpg" alt="">
        </div>
        <div class="col col-md-6 col-sm-12">
            <p class="pp">Ici vous pouvez partager vos opinion, idées, vous rencontrerez de nouvelles personnes avec qui vous pourrez apprendre du monde qui nous entoure, la bienveillance et le partage sont des valeurs auquelles nous attachons beaucoup d'importance, n'hésiter plus à nous rejoindre si vous partager nos convictions. <a href="{{ path('security_registration') }}">Inscrivez-vous !</a></p>
        </div>
    </div>
{% endblock %}


