{% extends 'base.html.twig' %}

{% block body %}
            
<div class="container main">
    <div class="card mt-5" style="width: 100%">
        <div class="card-body pp">
            <h5 class="card-title">Qui sommes nous ?</h5>
            
            <p class="card-text">Nous sommes un groupe de personnes qui aimons débattre et partager de nombreux sujets qui nous passionnent,
                                en passant par l'histoire, l'espace, l'actualité, les loisirs et bien d'autres.</p>
            <p class="card-text">Ce site a pour vocation de proposer une plateforme et rassembler une communauté qui partagent nos centres d'intérêts,
                                ou même qui veulent consulter les sujets et si ils veulent bien sur débattre avec nous.</p>
        </div>
    </div>
</div>
{% endblock %}