{% extends 'base.html.twig' %}

{% block body %}
<div class="container main">
        
    <div class="card mt-5" style="width: 100%">
        <div class="card-body pp">
            <h5 class="card-title">REGLEMENT</h5>
            
            <p class="card-text">1-Tout militantisme est interdit, les débats et les sujets postés doivent rester dans la neutralité,
                                si ceci n'est pas respecté le compte de la personne sera suprimé.</p>
            <p class="card-text">2-Tout actes de malveillances, menaces, insultes par la personne vers d'autres membres verra son compte supprimé.</p>
            <p class="card-text">3-Toute personne qui postera des sujets ou commentaires à caractère antisémites,
                                racistes, fascites, homophobes verra son compte supprimé.</p>
            <p class="card-text">4-Il est interdit de poster des sujets ou des propos à caractère pornographique,
                                sinon le sujet ou le message concerné sera supprimé, en cas de récidive le compte de la personne sera supprimé.</p>
        </div>
    </div>
</div>
{% endblock %}