{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="ggtitre">REGLEMENT</h1>
        <hr class="std">
        <p class="para">1-Tout militantisme est interdit, les débats et les sujets postés doivent rester dans la neutralité, si ceci n'est pas respecté le compte de la personne sera suprimé.</p>
        <hr class="std">
        <p class="para">2-Tout actes de malveillances, menaces, insultes par la personne vers d'autres membres verra son compte supprimé.</p>
        <hr class="std">
        <p class="para">3-Toute personne qui postera des sujets ou commentaires à caractère antisémites, racistes, fascites, homophobes verra son compte supprimé.</p>
        <hr class="std">
        <p class="para">4-Il est interdit de poster des sujets ou des propos à caractère pornographique, sinon le sujet ou le message concerné sera supprimé, en cas de récidive le compte de la personne sera supprimé.</p>
        <img class="image" src="/image/neptune1.jpg" alt="">
{% endblock %}