/*////////////////////CSS DU FOOTER//////////////////////*/

footer {
    display: block;
    bottom: 0;
    width: 100%; 
}

/*//////////////css du body//////////////////*/
.main{
    min-height: calc(100vh - 55px - 176px); /*tricher pour que le footer reste en bas*/
}

/*/////////////////css images/////////////////////////*/

.image2{
    width: 30%;
    height: 30%;
}

.image{
    width: 100%;
    margin-bottom: 1em;
}


article a {
    margin-bottom: 2em;
    margin-top: 2em;
}

.pp{
    color : black;
    background-color: white;
    text-align: center;
}
.pp a{
    color: #073642;
    font-weight: bold;
}

/*///////////////////////css du show/////////////////////////////*/

.articles img{
    margin-bottom: 2em;
}

.titre{
    margin : 1em 0;
}

.gtitre{
    padding: 0.5em;
    text-align: center;
    font-size: 3em!important; /*pour outrepasser bootstrap*/
    font-weight: 300;
}

#commentaires a{
    margin-bottom: 2em;
}

button{
    margin-bottom: 1em!important;

}

.ppp{
    width: 100%;
    background-color: #073642;
    border: 1px solid white;
    padding: 1em;
    border-radius: 1em;
}

/*///////////////////////css de la page home///////////////////////////////*/

.ggtitre{
    text-align: center;
    font-weight: 300;
    padding: 1em;
}

.std{
    
    margin: 0 0 1em 0 auto;
    width: 80%;
    border: 1em!important;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    
}

.nav-item:hover{
    border-bottom: 2px solid white!important;
}

.navbar{
    height: 4em!important;
}

.card-img-top{
    margin: 0 auto;
    text-align: center;
}

/*/////////////////////////css de la page a propos//////////////////////////////////////////*/

h5{
    text-align: center;
    color: black;
    font-size: 2em!important;
}

/*///////////////////////////css de la page admin///////////////////////////////////////////////////*/

.btn-danger{
    background: red!important;
}

