/*////////////////////CSS DU FOOTER//////////////////////*/

footer {
    display: block;
    bottom: 0;
    width: 100%; 
}

/*//////////////css du body//////////////////*/
.main{
    min-height: calc(100vh - 55px - 176px); /*tricher pour que le footer reste en bas*/
}

/*/////////////////css images/////////////////////////*/

.image{
    width: 100%;
    margin-bottom: 1em;
}


article a {
    margin-bottom: 2em;
    margin-top: 2em;
}

/*///////////////////////css du show/////////////////////////////*/

.articles img{
    margin-bottom: 2em;
}

.titre{
    margin : 1em 0;
}

.gtitre{
    padding: 0.5em;
    text-align: center;
    font-size: 3em!important; /*pour outrepasser bootstrap*/
    font-weight: 300;
}

#commentaires a{
    margin-bottom: 2em;
}

button{
    margin-bottom: 1em!important;
}

/*///////////////////////css de la page home///////////////////////////////*/

.ggtitre{
    text-align: center;
    font-weight: 300;
    padding: 1em;
}

.std{
    
    margin: 0 auto;
    width: 80%;
    border: 1em!important;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    
}

.nav-item{
    border-right: 1px solid white!important;
}

/*/////////////////////////css de la page a propos//////////////////////////////////////////*/

.para{
    font-size: 1em!important;
    text-align: center;
    margin-top: 1em;
}

